<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semestralkavmaz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SemestralkaVMAZ">
        <activity android:name=".Database"></activity>
        <activity android:name=".database" />
        <activity android:name=".PrehraMath" />
        <activity android:name=".mathPlayervsPlayer" />
        <activity android:name=".Math" />
        <activity android:name=".vyberMath" />
        <activity android:name=".MenoHrac" />
        <activity android:name=".Mena" />
        <activity android:name=".VitazPiskvorky" />
        <activity android:name=".VitazKarty" />
        <activity android:name=".PiskvorkyHra" />
        <activity android:name=".piskvorky_vyber" />
        <activity android:name=".Karty_hra" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Provider"
            android:authorities="com.example.semestralkavmaz"
            android:exported="true"
            android:grantUriPermissions="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>